/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

/*header start*/
.nav_h{
	position: relative;
	overflow: hidden;
}
.nav_left ul li:first-child{
    margin-top: 10px;
}
.nav_left{
	margin-top: -7px;
}
.nav_left li{
	position: absolute; 
	right: 0;
/*	bottom: 0;*/
}
.nav_left li:last-child {
    margin-right: 0;
}
.nav_left li a i {
    left: -42px;
}
.left_li1{
	top: 38px;
}
.left_li2{
	top: 75px;
}
.left_li3{
	top: 110px;
}
.btn_h{
	width: 140px;
    height: 40px;
	position: absolute; 
	right: 0;
	top: 152px;
}
/*s1 start*/
.s1-form h1 {
    margin-right: 20px;
}
.s1-form form input {
    width: 370px;
}
.btn_s1 {
    width: 370px;
}
.s1-banner {
    margin-top: 90px;
}
/*s3 start*/
.s3_row1 {
    margin: 0 240px;
}
.s3_top {
    right: -50px;
}
.s4_item {
    margin-left: 10px;
    margin-right: -10px;
}
.s4_item h1 {
    margin-top: 100px;
    margin-right: 30px;
}
/*s5 start*/
.s5_box {
    right: 2%;
    top: 35%;
}
/*s6 start*/
.nav_con1 {
    margin-right: 60px;
}
/*s7 start*/
.s7_r1 h1 {
    margin: 0 220px 15px;
}

}


